<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fdfffd82-8afe-4ab5-bb78-e7ef26751ef1/resourceGroups/Paladino/providers/Microsoft.ApiManagement/service/MinimalApiPaladinoapi/apis/MinimalApiPaladino</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/fdfffd82-8afe-4ab5-bb78-e7ef26751ef1/resourcegroups/Paladino/providers/Microsoft.Web/sites/MinimalApiPaladino20230324193013</ResourceId>
    <ResourceGroup>Paladino</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://minimalapipaladino20230324193013.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6afc4f4f-ff66-42d1-b5dd-fdceb36980d1</ProjectGuid>
    <PublishUrl>https://minimalapipaladino20230324193013.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MinimalApiPaladino20230324193013</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>